<ion-view view-title="Help">
  <ion-content>
    
    <div class="helpCss">
	    <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
	     <p>
	    	Junos Genius is a fun way to improve your skills with the Juniper Networks Junos operating system and it takes certification exam preparation to a new level. The Application is a vitual flashcard reader that includes decks of multiple choice questions for several Junos-based exams, including JNCIA-Junos, JNCIS-ENT, JNCIS-SEC and JNCIS-SP.
	    </p>
    </div>
  </ion-content>
</ion-view>
