<ion-view view-title="Home">
  <ion-content class="has-tabs">
  
	<div>
		<ul>
			<li ng-click="clicked(obj)" class="selectTab">JNCIA-Junos<span style="float:right;"><img width="15px" height="15px" src="img/right.png"></span> </li>
			<li class="selectTab">JNCIA-SEC<span style="float:right;"><img width="15px" height="15px" src="img/right.png"></span> </li>
			<li class="selectTab">JNCIA-ENT<span style="float:right;"><img width="15px" height="15px" src="img/right.png"></span> </li>
			<li class="selectTab">JNCIA-SP<span style="float:right;"><img width="15px" height="15px" src="img/right.png"></span> </li>
		</ul>
	</div>

  </ion-content>
</ion-view>
