<ion-view view-title="Home">
  <ion-content class="has-tabs">
    <h1>Home</h1>
    <input id="testId" type="text" value="">
    <div class="mainKey-div wth100 display-inline text-center boxSize">
		<!-- Home page options -->
		<div id="options_container"></div>					
		<!--  IPA and RSA Images -->
		<div class="text-center borderTop wth100 boxSize borderRight borderLeft" id="bottomAsst">
			<div class="display-inline borderRight wth45">
				<a id="personal">
					<div class="personalAsst-unselect">test 1</div>
					<div id="persn_astn" class="small-txt">test small</div>
				</a>
			</div>
			<div class="display-inline wth45">
				<a id="roadside">
					<div class="roadsideAsst-unselect">test 2 </div>
					<div id="road_side" class="small-txt">small test 2</div>
				</a>
			</div>						
		</div>
	</div>
  </ion-content>
</ion-view>
