/* Empty. Add your own CSS if you like */
.mainKey-div{margin-top:10px;}
.wth100{width:100%;}
.display-inline{display: inline-block; vertical-align: middle;}
.text-center{text-align: center;}
.boxSize{box-sizing:border-box;}
.borderTop{
	border-top: 1px solid #C8C8C8;
}
.borderRight{
	border-right: 1px solid #C8C8C8;
}
.borderLeft{
	border-left: 1px solid #C8C8C8;
}
.wth45{width:45%;}
.footer{
	position: fixed;
	bottom: 0px !important;
}
.selectTab{
	border: solid 2px black;
	padding: 10px;
	margin: 5px;
	border-radius: 7px;
	background-color: #001f4d;
	color: white;
}
.helpCss{
	margin: 10px;

}